.App {
  display: flex;
  min-height: 1500px;
}
.text-scroll-container {
  width: 15vw;
  background-color: #000000;
  display: inline-block;
  padding: 0 15px 0 15px;
}

.text-scroll {
  color: yellow;
  position: absolute;
	width: 15vw;
	bottom: 0;
  animation: scroll 100s linear 0s infinite;
}

.card-holder {
  width: 85vw;
  background-image: url(../../images/space.jpg);
  background-size: contain;
  display: inline-block;
  top: 0;
  overflow-y: scroll;
}

@keyframes scroll {
	0% { top: 100%; }
	100% { top: 0; }
}