
.text-scroll-container {
  width: 15vw;
  background-color: #333;
  display: inline-block;
  height: 100vw;
  padding: 15px;
  /* position: relative; */
}

p {
  color: yellow;
  position: absolute;
	width: 15vw;
	bottom: 0;
	text-align: justify;
  overflow: hidden;
  animation: scroll 100s linear 4s infinite;
}

main {
  width: 85vw;
  background-color: #ACAEAD;
  display: inline-block;
  position: fixed;
  top: 0;
  height: 100%;
}

@keyframes scroll {
	0% { top: 100%; }
	100% { top: 0; }
}