
.text-scroll-container {
  width: 15vw;
  background-color: #000000;
  display: inline-block;
  height: 1000px;
  padding: 15px;
}

.text-scroll {
  color: yellow;
  position: absolute;
	width: 15vw;
	bottom: 0;
  overflow: hidden;
  animation: scroll 100s linear 0s infinite;
}

main {
  width: 85vw;
  background-image: url(../../space.jpg);
  background-size: contain;
  display: inline-block;
  position: fixed;
  top: 0;
  height: 1000px;;
  overflow: scroll;
}

@keyframes scroll {
	0% { top: 100%; }
	100% { top: 0; }
}