.controls-container {
  display: flex;
  justify-content: space-evenly
}
.controls-button {
  color: yellow;
  border: 1px solid yellow;
  border-radius: 25px;
  width: 20%;
  height: 100px;
  background-color: #333;
  font-size: 2rem;
}